<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <ideal>
                <debug>1</debug>
                <active>1</active>
                <order_status>processing</order_status>
                <complete_status>4</complete_status>
                <autocreate_invoice>1</autocreate_invoice>
                <model>Targetpay\Ideal\Model\Ideal</model>
                <title>iDEAL - Targetpay</title>
                <sort_order>1</sort_order>
                <rtlo>39411</rtlo> <!-- // Default TargetPay -->
            </ideal>
        </payment>
    </default>
</config>