<!--@subject Failure Payment Order #{{var order.getIncrementId())}} @-->

{{template config_path="design/email/header_template"}}

<table>
	<tr class="email-intro">
		<td>
			<p class="greeting">{{trans 'Dear %customerName,'
				customerName=$order.getCustomerName()}}</p>
			<p>
				{{trans 'Your payment for <b>Order #%orderId </b> was failed.'
				orderId=$order.getIncrementId() |raw}}
			</p>
			<p>
				{{trans 'If you have questions about your order, you can email us at
				<a href="mailto:%store_email">%store_email</a>'
				store_email=$store_email |raw}}{{depend store_phone}} {{trans 'or
				call us at <a href="tel:%store_phone">%store_phone</a>'
				store_phone=$store_phone |raw}}{{/depend}}. {{depend store_hours}}
				{{trans 'Our hours are <span class="no-link">%store_hours</span>.'
				store_hours=$store_hours |raw}} {{/depend}}
			</p>
		</td>
	</tr>
</table>

{{template config_path="design/email/footer_template"}}
