<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <mrcash>
                <sort_order>2</sort_order>
                <active>1</active>
                <rtlo>93929</rtlo> <!-- // Default TargetPay -->
                <order_status>1</order_status>
                <complete_status>4</complete_status>
                <autocreate_invoice>1</autocreate_invoice>
                <model>Targetpay\Mrcash\Model\Mrcash</model>
                <order_status>processing</order_status>
                <title>Bancontact/Mister Cash - Targetpay</title>
                <allowspecific>0</allowspecific>
            </mrcash>
        </payment>
    </default>
</config>